
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html {
    --primary: #228be6;
    --primary-dark: #1864ab;
    --accent: #F9CA24;
    --color: #535B6A;
    --bg: #FFFFFF;
  }
  html.theme--night {
    --primary-dark: #13F1D0;
    --accent: #E684AF;
    --color: #D3C9E1;
    --bg: #211630;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--bg);
    color: var(--color);
    transition: color 120ms ease-out 0s;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
    transition: all 120ms ease-out 0s;
  }
  a:hover, a:focus {
    color: var(--primary-dark);
  }
  
  .c-hero {
    width: 100%;
    max-width: 68rem;
    margin: auto;
    padding: 35vh 2.4rem 0;
  }
  
  .c-title {
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 1.6;
  }
  @media screen and (max-width: 768px) {
    .c-title {
      font-size: 2.4rem;
    }
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 12px;
    border: 3px solid #228be6;
  }
  

  #page-button {
    color: #222; 
  }
  
  .c-social {
    display: flex;
    margin-top: 2.4rem;
  }
  .c-social__link {
    font-weight: 600;
    font-size: 1.4rem;
  }
  .c-social__link:not(:last-of-type) {
    margin-right: 2.4rem;
  }